<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, Goonar</h1>
    <p>
      The mail worked!
    </p>
    <p>
      Let's send this file over now shall we?
    </p>
    <p>Good work so far today! Keep going!</p>
  </body>
</html>
